# runtime
dataset ~= 1.0.3
imgurpython ~= 1.1.7
praw ~= 5.2.0
ruamel.yaml ~= 0.15.34
selenium ~= 3.6.0
semantic_version ~= 2.6.0

# development
Sphinx
sphinx-readable-theme

# testing
mock
pytest
pytest-catchlog
pytest-cov
pytest-mock
pytest-watch
pytest-xdist

## check dependency version
piprot

## multilinter
isort
pyenchant  # spelling
pylama
pylama-pylint
radon  # code metrics
